.creditCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: '95%';
    height: 250px;
    padding: 25px;
    border-radius: 15px;
    color: white;
    background-image: linear-gradient(25deg, black, grey);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.cardNumber {
    margin-top: 20%;
}

.cardExpire {
    margin-left: 20%;
    color: white;
    font-size: 25px;
    font-family: '"Open Sans", sans-serif';
}
.cardCv {
    margin-left: 30%;
    color: white;
    font-size: 25px;
    font-family: '"Open Sans", sans-serif';
}
