.login {
    background-color: maroon;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .title {
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
  }
  
  
  
  /*WHEN WIDTH IS BETWEEN 650 MOBILE */
  @media only screen and (max-width: 650px) {
  
    .title {
      font-size: 40px;
      text-align: center;
      margin-top: 30%;
    }
    
    
  }
  
  
  
  